.landing-page-right{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing-page-right h1{
    font-size: 70px;
    color: aliceblue;
    font-family: 'Permanent Marker', cursive;
}

.landing-page-right p{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: larger;
}

.ruler{
    color: white;
    width: 50%;
    margin-bottom: 100px;
}

.landing-input{
    border: none;
    border-bottom: 2px solid white;
    margin: 10px;
}

.landing-form{
    display: flex;
    flex-direction: column;
}

.landing-login{
    margin: 20px 40% 40px 40%;
}

